rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /games/{gameId} {
      allow read: if request.auth != null;
      allow create: if request.auth != null;
      allow update: if request.auth != null && (
        resource.data.white_player_id == request.auth.uid || 
        resource.data.black_player_id == request.auth.uid ||
        resource.data.white_player_id == null ||
        resource.data.black_player_id == null
      );
    }

    match /users/{userId} {
      allow read: if request.auth != null;
      allow write: if request.auth != null && request.auth.uid == userId;
    }

    match /__firestore_presence__/{document} {
      allow read, write: if request.auth != null;
    }

    match /challenges/{challengeId} {
      allow read: if request.auth != null;
      allow create: if request.auth != null;
      allow update: if request.auth != null && (
        request.auth.uid == resource.data.fromId ||
        request.auth.uid == resource.data.toId
      );
      allow delete: if request.auth.uid == resource.data.fromId;
    }

    match /{document=**} {
      allow read, write: if false;
    }
  }
}